*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    position: fixed;
}
.nav-link:hover{
    color: black;
    background-color: red;

}
.section{
    background: url(bc\ image.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-2{
    margin-top: 100px;
}
.card{
    margin-left: 100px;
}
.card button{
    background-color: rgb(5, 244, 5);
    color: black;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
.contact h1{
    margin-top: 80px;
    margin-left: 550px;
}
.contact h5{
    margin-left: 30px;
}
.circle span{
    cursor:  pointer;

}
.form-row{
    margin-left: 500px;
}
.form-row button{
   padding: 10px;
   border-radius: 20px;
   background-color: black;
   color: white;
   margin-left: 200px;
}
